@import 'src/global/style/consts';

.base-block {
  margin: 0 45px;
  margin-bottom: 8px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.text-block {
  font-size: $ms-font-size-16;
  line-height: 22px;
  font-weight: 400;
}
