@import 'src/global/style/consts';

.command-bar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: $ms-depth-shadow-4;
}

.command-bar-container {
  max-width: 1400px;
  margin: 0 auto;
}
