:global {
  html,
  body {
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  html,
  body,
  #app-root {
    height: 100%;
  }
}
